includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
	ignoreErrors:
		- '#PickleBoxer\\Ps_GoogleanalyticsZaraz\\Handler\\ModuleHandler::uninstallModule\(\) calls parent::uninstall\(\) but PickleBoxer\\Ps_GoogleanalyticsZaraz\\Handler\\ModuleHandler does not extend any class.#'
		- '#Access to an undefined property Cookie\:\:\$gaz_admin_order.#'
		- '#Access to an undefined property Cookie\:\:\$gaz_admin_refund.#'
		- '#Parameter \#1 \$value of method ControllerCore::ajaxRender\(\) expects null, string given.#'
